
:root
{
    --accent : #cccc00;/*สี่ปุ่ม*/
    --accentHover: #eeee00;
    --dark60: rgba(238, 238 , 239, 0.9);
    --light : #ffffff;
    --transition : all 0.3s ease 0s; /*delay time*/
}
/* All Section */
*{
    /*Clear margin and padding*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;  /*fix ความสูง*/
}
a, button, p
{
    font-family: Audiowide;
    color: var(--light);
}
a, button{
    cursor: pointer; /*link element*/
}   

main /*สร้างกริต*/
{
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    
}
body{
    background-color: #07162D;;
}
h1{
text-align: center;
font-family: Audiowide;
}

div  /*แถมด้านบนของเว็บ*/ 
{
    background-color: rgba(211, 211, 211, 0.322);
    width: 99.8%;
    height: 70%;
    border:none;
}

article  /*ช่องคอนเท้น*/ 
{
      background-color: rgba(211, 211, 211, 0.322);
      width: 85%;
      height: 90%;
      padding: 10%;
      margin: 10%;
      margin-left: 7%;
      margin-top: 1%;
      margin-bottom: 20%;
      border:none;
}
article2  /*ช่องคอนเท้น*/ 
{
      background-color: rgba(211, 211, 211, 0.322);
      width: 85%;
      height: 90%;
      padding: 10%;
      margin: 10%;
      margin-left: 7%;
      margin-top: 1%;
      margin-bottom: 20%;
      border:none;
}
article3  /*ช่องคอนเท้น*/ 
{
      background-color: rgba(211, 211, 211, 0.322);
      width: 85%;
      height: 90%;
      padding: 10%;
      margin: 10%;
      margin-left: 7%;
      margin-top: 1%;
      margin-bottom: 20%;
      border:none;
}
.credit
{
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}
.logo 
{   
    object-position:top left;
}
.Logo-EVENT
{
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    top: 2%;
    width: 25%;
}





/*Button*/
button {
    margin: 20px;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Audiowide', sans-serif;
    font-size: 18px; /*เปลี่ยนขนาดฟอนต์ตรงนี้*/
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.btn-12{
    position: relative; /*เปลี่ยนตำแหน่งแถวนี้*/
    left: 82%;
    right: 0px;
    bottom: 50px;
    border:none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
  }
  .btn-12 span {
    background: rgb(0,172,238);
  background: linear-gradient(0deg,#4FD1C5 0%, #4FD1C5 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .btn-12 span:nth-child(1) {
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .btn-12:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .btn-12:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
   color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }
  
/*Content Css*/
.F-22
{
  position: absolute;
  top: 30%;
  right: 65%;
}
.F-22_Name
{
  position: absolute;
  top: 20%;
  right: 50%;
  font-size: 40px;
}
.F-22_Info
{
  font-family: Audiowide;
  font-size: 25px;
  position: absolute;
  top: 30%;
  right: 18%;
}