:root
{
    --accent : #cccc00;/*สี่ปุ่ม*/
    --accentHover: #eeee00;
    --dark60: rgba(238, 238 , 239, 0.9);
    --light : #ffffff;
    --transition : all 0.3s ease 0s; /*delay time*/
}
/* All Section */
*{
    /*Clear margin and padding*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;  /*fix ความสูง*/
    overflow: auto;
}
a, button, p
{
    font-family: Audiowide;
    color: var(--light);
}
a, button{
    cursor: pointer; /*link element*/
}   

main /*สร้างกริต*/
{
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    
}
body{
    background-color:#07162D;
    }
article
{
    grid-column: 1 / span 2; /*header Star 2 other to last colum*/
}
aside
{
    grid-column:1 / span 2;
}
footer
{
    grid-column:1 / span 2;
}
.button1 {

    grid-column: 3 / span 2; /*header Star 2 other to last colum*/
}
.homepage
{   
    /*โครงสร้างตัวปุ่ม*/
    background-color: var(--accent);
    padding: 24px 100px;
    transition: var(--transition);

    /*กำหนดตำแหน่งปุ่ม*/
    position: absolute;
    top: 80%;
    width: 20%;
    right: 42%;
    
    /*ขนาดอักษรในปุ่ม*/
    text-align: center;
    font-size: 30px;
    
}
.content1
{
    font-family: Audiowide;
    color: rgba(255, 255, 255, 0.774);
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 80px;
}
.content2
{
    font-family: Audiowide;
    color: rgba(255, 255, 255, 0.774);
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 80px;
}
.credit
{
    text-align: center;
}