:root
{
    --accent : #e9d700;/*สี่ปุ่ม*/
    --accentHover: #dab600;
    --dark60: rgba(238, 238 , 239, 0.9);
    --light : #ffffff;
    --transition : all 0.3s ease 0s; /*delay time*/
}
/* All Section */
*{
    /*Clear margin and padding*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%; /*fix ความสูง*/
    overflow: auto;
}
a, button, p
{
    font-family: Audiowide;
    color: var(--light);
}
a, button{
    cursor: pointer; /*link element*/
}   

main
{
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    
}
body{
    background-image: url("/img/FirstPage.png");
    background-size: cover;  
    }
.button1 {

    grid-column: 2 / span 3; /*header Star 2 other to last colum*/
    background-color: var(--accent);
    transition: var(--transition);
.homepage
{
    background-color: var(--accent);
    padding: 8px 25px;
    transition: var(--transition);
}
}
.p-Footer{
    text-align: center;
    }