<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="contractus.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    <title>Primordial</title>
</head>
<body>
    <section class="wrapper">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
    </section>
    <div id="title">
            <span>Contact Us</span>
            <br>
            <span>THE EVENT HORIZON TEAM</span>
            <p class="contract">&#x2709 Chaiwat.fakj@bumail.net &#x2709</p>
            <p class="contract2">&#x2709 @bumail.net &#x2709</p>
            <p class="contract3">&#x2709 @bumail.net &#x2709</p>

        </div>
    </div>
</body>
</html>