<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="primordial.CSS">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    <title>Primordial</title>
</head>
<body>
    <section class="wrapper">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
    </section>
    <div id="title">
        <span>CLICK ON THE NATIONALITY OF THE AIRCRAFT</span>
        </div>
    <button class="custom-btn btn-1" onClick="parent.location='http://localhost:8080/USA'"><span>USA.</span></button>
    <button class="custom-btn btn-2" onClick="parent.location='http://localhost:8080/EUROPE'"><span>EUROPE</span></button>
    <button class="custom-btn btn-3" onClick="parent.location='http://localhost:8080/RUSSIA'"><span>RUSSIA</span></button>
    <button class="custom-btn btn-4" onClick="parent.location='http://localhost:8080/CHINA'"><span>CHINA</span></button>

</body>
</html>