:root
{
    --accent : #cccc00;/*สี่ปุ่ม*/
    --accentHover: #eeee00;
    --dark60: rgba(238, 238 , 239, 0.9);
    --light : #ffffff;
    --transition : all 0.3s ease 0s; /*delay time*/
}
/* All Section */
*{
    /*Clear margin and padding*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;  /*fix ความสูง*/
}
a, button, p
{
    font-family: Lora;
    color: #B89972;
}
a, button{
    cursor: pointer; /*link element*/
}   

main /*สร้างกริต*/
{
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    
}
body{
    background-color:#041727
    
    ;
    }
article
{
    grid-column: 1 / span 2; /*header Star 2 other to last colum*/
}
aside
{
    grid-column:1 / span 2;
}
footer
{
    grid-column:1 / span 2;
}
.button1 {

    grid-column: 3 / span 2; /*header Star 2 other to last colum*/
}
/*.homepage
/*ฟังก์ชั่นของปุ่ม*/
.wrap {
    position: absolute;
    top: 80%;
    width: 20%;
    right: 36%;
  }
  
.button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Audiowide',Nunito, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #ffffff;
    background: #B89972;
   background: linear-gradient(90deg, #af9474 0%, #b89265 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px #B89972;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #B89972;
    box-shadow: 0 0 60px #B89972;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
.button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
button:hover::before, button:focus::before {
    opacity: 1;
  }
  
button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #B89972;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
@keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }
/*ตัวข้อความ*/
.content1
{
    font-family: Lora;
    color: rgba(255, 255, 255, 0.774);
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 120px;
}
.content2
{
    font-family: Lora;
    color: rgba(255, 255, 255, 0.774);
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 120px;
}
.credit
{
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}
.logo
{
  position: absolute;
  top: 20%;
  right: 75%;

}